/* This is the base CSS document */


/* =============== Body =============== */

body {
    margin: 0px;
    background-color: #F5F5F5;
}


/* =============== Typography | mobile =============== */

/* H1 text - banner title */
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    font-weight: 900;
    font-style: normal;
    color: #171777;
    margin: 0px;
}


/* H2 text - banner */
h2 {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    font-style: normal;
    color: #171777;
    margin: 0px;
}


/* H3 text - subheading 1 - regular */
h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #171777;
    line-height: 150%;
    margin: 0px;
}


/* H4 text - numbers */
h4 {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 900;
    font-style: normal;
    color: #171777;
    line-height: 100%;
    margin: 0px;
}


/* p text - body text - regular */
p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #171777;
    line-height: 150%;
    margin: 0px;
}


/* modifier - bold */
.bold {
    font-weight: 700;
}


/* modifier - black */
.black {
    font-weight: 900;
}


/* modifier - italic */
.italic {
    font-style: italic;
}


/* modifier - light */
.light {
    font-weight: 300;
}


/* p text - small body text */
p.small {
    font-size: 12px;
}


/* =============== Header =============== */

.header {
    padding: 0px 15px 0px 15px;
    background: #D2DFFF;
    position: sticky;

    .header__content {
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    .logo--header {
        height: 44px;
    }
}


/* =============== Footer =============== */

footer p {
    color: #D2DFFF;
}

.footer {
    padding: 15px;
    background: #171777;

    .footer__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .link-list__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .logo__db {
        width: 185px;
    }

    .logo__en-af-os {
        height: 70px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .contact-information__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.copyright {
    display: flex;
    justify-content: center;
}



/* ========================================================================================== */

/* =============== Media Query =============== */

@media only screen and (min-width: 900px) {

    /* =============== Typography | desktop =============== */

    /* H1 text - banner title */
    h1 {
        font-size: 130px;
    }


    /* H2 text - banner */
    h2 {
        font-size: 60px;
    }


    /* H3 text - subheading 1 - regular */
    h3 {
        font-size: 32px;
    }


    /* H4 text - numbers */
    h4 {
        font-size: 100px;
    }


    /* p text - body text - regular */
    p {
        font-size: 18px;
    }


    /* modifier - bold */
    .bold {
        font-weight: 700;
    }


    /* modifier - black */
    .black {
        font-weight: 900;
    }


    /* modifier - italic */
    .italic {
        font-style: italic;
    }


    /* modifier - light */
    .light {
        font-weight: 300;
    }


    /* p text - small body text */
    p.small {
        font-size: 16px;
    }

}