/* This is the index CSS document */


/* =============== Block: introduction =============== */

/* ===== introduction__banner */

.introduction__banner {
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.intro-image {
    height: 350px;
    object-fit: contain;
    align-self: flex-start;
}

.intro-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;

    position: absolute;
    top: 75px;


    .intro-heading__text {
        line-height: 64px;
    }
}

/* ===== introduction-content */

.introduction-content {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 30px 15px 30px 15px;

    .introduction-content__subheader {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .introduction-content__box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

.intro-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logo-collab {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .logo-collab__dyrenes-beskyttelse {
        width: 82px;
    }
}

.logo-composition {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    .logo-composition__cross {
        width: 18px;
    }

    .logo-composition__en-af-os {
        width: 148px;
        height: 44.411px;
    }
}