/* This is the "tilmeld" CSS document */


/* =============== Block: banner - mobile =============== */

.banner {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .banner__image {
        height: 350px;
        object-fit: contain;
        align-self: flex-start;
    }
}

.banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 205px;


    .banner-overlay__text {
        line-height: 64px;
    }
}


/* =============== Block: banner - desktop =============== */

.banner-desktop {
    display: none;
    justify-content: center;
    overflow: hidden;

    .banner-desktop__image {
        height: 400px;
        object-fit: contain;
        align-self: flex-start;
    }
}

.banner-overlay-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 244px;


    .banner-overlay-desktop__text {
        line-height: 92px;
    }
}


/* =============== Block: introduction =============== */

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction__content {
    display: flex;
    margin: 20px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 540px;
}

.introduction .p .bold {
    color: var(--color-blue);
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.introduction-desktop {
    display: none;
}

/* =============== Block: drop-down =============== */

.dropdown-boxes {
    display: flex;
    height: 138px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dropdown-box {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    align-items: center;
    gap: 29px;
    align-self: stretch;
    background-color: var(--color-blue);
}

.dropdown-box__text {
    color: var(--color-white);
}

.forventning-og-praktisk {
    display: none;
}

/* =============== Block: Tilmelding mobile =============== */

.tilmelding {
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    background-color: var(--color-pastel-pink);
    align-items: center;
    width: 100%;
}

.tilmelding-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 540px;
    width: 100%;
}

.tilmelding-input__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tilmelding-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.vælg-internat-box {
    display: flex;
    flex-direction: row;
}

.internat-box {
    display: flex;
    height: 20px;
    padding: 10px 0px;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 2px 0px 0px 2px;
    width: 100%;
}

.internat-box__text {
    color: var(--color-grey);
    font-size: 14px;
    padding: 10px;
}

.button-arrow-small {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 0px 2px 2px 0px;

}

.button-arrow-small__icon {
    width: 20px;
    height: 25px;
}

.ledige-datoer {
    background-color: var(--color-white);
    display: flex;
    height: 170px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}


.info-boks {
    display: flex;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    background-color: var(--color-white);
    color: var(--color-grey);
    height: 40px;
    padding: 0px 10px 0px 10px;
}

.tilmeld {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.spørgsmål-text {
    text-align: center;
}


/* =============== Block: Tilmeld - desktop =============== */

.tilmeld-desktop {
    display: none;
    padding: 48px 0px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;

    background: var(--color-pastel-pink);

    .tilmeld-desktop__formular {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 0px 24px;
    }

    .tilmeld-desktop__text-mail {
        text-align: center;
    }
}


/* Dette er ikke synligt (sådan her skal det se ud når man har valgt et internat) */

.month-arrows-desktop-outer {
    max-width: 386px;
    display: none;
}

.month-arrows-desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.calendar-arrows-desktop {
    display: flex;
    align-items: center;
    gap: 12px;
}

.circle-arrow-desktop {
    display: flex;
    align-items: center;
    gap: 10px;

    .circle-arrow-desktop__icon {
        flex-shrink: 0;
    }
}

/* ===== inputs-calendar-desktop (input felterne og tom kalender) */

.inputs-calendar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .input-fields-desktop {
        display: flex;
        width: 640px;
        height: 334px;
        flex-direction: column;
        justify-content: space-between;
    }

    .calendar-empty-box-desktop {
        display: flex;
        width: 386px;
        height: 334px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 2px;
        background: #F5F5F5;
    }
}


.vælg-internat-dekstop {
    display: flex;
    align-items: center;
    gap: 24px;
}


.vælg-internat-input-desktop {
    display: flex;
    align-items: center;

    .vælg-internat-input-desktop__input {
        display: flex;
        width: 450px;
        align-items: center;
        gap: 10px;
        padding: 17px 0px;

        border-radius: 2px 0px 0px 2px;
        background: #F5F5F5;
    }

    .vælg-internat-input-desktop__arrow-button {
        border-radius: 0px 2px 2px 0px;
        background: var(--color-blue);
        padding: 16px 19px;
    }
}


.text-input-field-desktop {
    display: flex;
    align-items: center;
    gap: 47px;

    .text-input-field-desktop__input-box {
        display: flex;
        align-items: center;
        padding: 17px 0px;
        gap: 10px;

        border-radius: 2px;
        background: #F5F5F5;
    }
}



/* =============== Block: støt og læs mere mobile =============== */
.støt-anden-måde {
    display: none;
}

.støt-og-læs {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white)
}

.støt-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.støt-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 540px;
}

.støt-box__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.støt-btn {
    display: flex;
    width: 180px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.find-info-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.læs-mere {
    display: flex;
    width: 180px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.læs-mere-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;

    /* Button style */
    display: flex;
    width: 100%;
    max-width: 125px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 22px;
    background-color: var(--color-light-blue);
}


/* ========================================================================================== */

/* =======================MEDIA QUERIES======================= */

@media only screen and (min-width: 901px) {

    .header {
        display: none;
    }

    .dropdown-boxes {
        display: none;
    }

    /* =============== section | banner =============== */

    .banner {
        display: none;
    }

    .banner-desktop {
        display: flex;
    }

    /* =============== section | Introduction =============== */

    .introduction__content {
        display: none;
    }

    .introduction-desktop {
        display: flex;
        padding: 48px 0px;
        flex-direction: column;
        gap: 72px;
    }

    .introduction-desktop__header {
        display: flex;
        text-align: center;
        font-size: 25px;
    }

    .introduction-desktop__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* =============== section | forventning og praktisk =============== */

    .forventning-og-praktisk {
        display: flex;
        background-color: var(--color-light-blue);
        max-width: 1200px;
        border-radius: 2px;
        margin-bottom: 48px;
    }

    .forventning-og-praktisk-boks {
        padding: 24px 48px;
    }

    .forventning-og-praktisk__content {
        display: flex;
    }

    .forventning__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .forventning__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .praktisk__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 50px;
    }

    .praktisk__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .points {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    .point-dot {
        display: flex;
        padding: 7px 0px;
    }

    /* =============== section | Tilmelding =============== */

    .tilmelding {
        display: none;
    }

    .tilmeld-desktop {
        display: flex;
    }

    /* .tilmelding-desktop {
        display: flex;
        padding: 48px 0px;
        justify-content: center;
        align-self: stretch;
        background-color: var(--color-pastel-pink);
    }

    .tilmelding-desktop__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 48px;
    }

    .tilmelding-desktop-boxes {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
    }

    .input-boxes {
        display: flex;
        width: 640px;
        height: 334px;
        flex-direction: column;
        justify-content: space-between;
    } */

    /* 'Vælg internat' boksen */

    /* .internatvælger-frame {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;
    }

    .internatvælger__felt {
        display: flex;
        align-items: center;
        border-radius: 2px;
        background: var(--color-white);
    }

    .internatvælger__tekstfelt {
        display: flex;
        padding: 10px 24px;
        align-items: center;
        gap: 10px;
        border-radius: 2px 0px 0px 2px;
        background: var(--color-white);
    }

    .arrow-down-desktop {
        display: flex;
        padding: 6px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 0px 2px 2px 2px;
        background: #171777;
    }

    .input-felt-desktop {
        display: flex;
        align-items: center;
        gap: 47px;
        align-self: stretch;
    }

    .info-boks__desktop {
        display: flex;
        outline: none;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        background-color: var(--color-white);
        color: var(--color-grey);
        padding: 0px 10px 0px 10px;
    }

    /* Kalender frame */
    .calender-frame-desktop {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        background: var(--color-white);
    } */

    /* .tilmeld-desktop {
        display: flex;
        width: 200px;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    } */


    /* =============== section | støt og læs =============== */

    .støt-og-læs {
        padding: 48px 24px;
    }

    .læs-mere-button {
        max-width: 180px;
    }

    .støt-anden-måde {
        display: flex;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .støt-box__text {
        display: flex;
        align-items: center;
    }
}