/* This is the "tilmeld" CSS document */


/* =============== Block: banner - mobile =============== */

.banner {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .banner__image {
        height: 350px;
        object-fit: contain;
        align-self: flex-start;
    }
}

.banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 205px;


    .banner-overlay__text {
        line-height: 64px;
    }
}


/* =============== Block: banner - desktop =============== */

.banner-desktop {
    display: none;
    justify-content: center;
    overflow: hidden;

    .banner-desktop__image {
        height: 400px;
        object-fit: contain;
        align-self: flex-start;
    }
}

.banner-overlay-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 244px;


    .banner-overlay-desktop__text {
        line-height: 92px;
    }
}


/* =============== Block: introduction =============== */

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction__content {
    display: flex;
    width: 360px;
    height: 370px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.introduction .p .bold {
    color: var(--color-blue);
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.dropdown-boxes {
    display: flex;
    height: 138px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dropdown-box {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    align-items: center;
    gap: 29px;
    align-self: stretch;
    background-color: var(--color-blue);
}

.dropdown-box__text {
    color: var(--color-white);
}

.forventning-og-praktisk {
    display: none;
}

.tilmelding {
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    background-color: var(--color-pastel-pink);
}

.tilmelding-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tilmelding-input__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tilmelding-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.vælg-internat-box {
    display: flex;
    flex-direction: row;
}

.internat-box {
    display: flex;
    height: 20px;
    padding: 10px 0px;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 2px 0px 0px 2px;
    width: 100%;
}

.internat-box__text {
    color: var(--color-grey);
    font-size: 14px;
    padding: 10px;
}

.button-arrow-small {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 0px 2px 2px 0px;

}

.button-arrow-small__icon {
    width: 20px;
    height: 25px;
}

.ledige-datoer {
    background-color: var(--color-white);
    display: flex;
    height: 170px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}


.info-boks {
    display: flex;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    background-color: var(--color-white);
    color: var(--color-grey);
    height: 40px;
    padding: 0px 10px 0px 10px;
}

.tilmeld {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.spørgsmål-text {
    text-align: center;
}

.støt-og-læs {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white)
}

.støt-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.støt-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.støt-box__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.find-info-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.læs-mere {
    margin: 30px 0px 60px 0px;
}

.læs-mere-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: none;

    /* Button style */
    display: flex;
    width: 100%;
    max-width: 125px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: var(--color-light-blue);
}

/* =======================MEDIA QUERIES======================= */

@media only screen and (min-width: 901px) {

    .header {
        display: none;
    }

    .dropdown-boxes {
        display: none;
    }

    /* =============== section | banner =============== */

    .banner {
        display: none;
    }

    .banner-desktop {
        display: flex;
    }

    /* =============== section | x =============== */

    .forventning-og-praktisk {
        display: flex;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 30px;

    }

    .forventning-og-praktisk-boks {
        display: flex;
        padding: 24px 48px;
        background-color: var(--color-light-blue);
    }

    .forventning-og-praktisk__content {
        display: flex;
    }

    .forventning__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .forventning__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .praktisk__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 50px;
    }

    .praktisk__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .points {
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }

    .point-dot {
        display: flex;
        padding: 7px 0px;
    }
}